{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block page_content %}
    <!-- Start Hero Section
    ================================================== -->
	<section id="hero" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-7">
					<div class="lp-element animate" data-animate="fadeInDown">
						<h1>New Recording</h1>
						<p class="lead">Configure and start a new IMU recording.</p>
						<p> <a href="#record" class="btn btn-danger btn-lg" role="button">Configure</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- ==================================================
    End Hero -->

    <!-- Start Record
	================================================== -->
	<section id="record" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 sol-sm-12">
					<div class="overview animate" data-animate="flipInY">
						<h1>Settings</h1>
						<p class="lead">Enter desired parameters for this recording.</p>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<form method="POST" action={{ url_for('new_session') }}>
                        {{ form.hidden_tag() }}
						<div class="faq-block animate" data-animate="fadeInLeft">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
												General settings
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											<div class="form-group">
												{{ form.name.label }} <br> {{ form.name(size=20, class="form-control", placeholder="Enter a name...") }}
											</div>
											<div class="form-group">
												{{ form.data_rate.label }} <br> {{ form.data_rate(class="form-control") }}
											</div>
                                            <div class="form-group">
                                                {{ form.duration.label }}
                                                <br> {{ form.duration(class="form-control", placeholder="Enter number of seconds to record...") }}
                                            </div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
												Accelerometer
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
                                            <div class="form-group">
                                                {{ form.acc_data_rate.label }}
                                                <br>
                                                {{ form.acc_data_rate(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.acc_continuous_update.label }}
                                                <br>
                                                {{ form.acc_continuous_update(class="form-control") }}
                                            </div>
                                            <dif class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.acc_enabled_x.label }}
                                                        <br>
                                                        {{ form.acc_enabled_x(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.acc_enabled_y.label }}
                                                        <br>
                                                        {{ form.acc_enabled_y(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.acc_enabled_z.label }}
                                                        <br>
                                                        {{ form.acc_enabled_z(class="form-control") }}
                                                    </div>
                                                </div>
                                            </dif>
                                            <div class="form-group">
                                                {{ form.acc_antialias.label }}
                                                <br>
                                                {{ form.acc_antialias(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.acc_fullscale.label }}
                                                <br>
                                                {{ form.acc_fullscale(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.acc_selftest.label }}
                                                <br>
                                                {{ form.acc_selftest(class="form-control") }}
                                            </div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
												Gyroscope
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
                                            <div class="form-group">
                                                {{ form.gyro_data_rate.label }}
                                                <br>
                                                {{ form.gyro_data_rate(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.gyro_bandwidth_level.label }}
                                                <br>
                                                {{ form.gyro_bandwidth_level(class="form-control") }}
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.gyro_continuous_update.label }}
                                                        <br>
                                                        {{ form.gyro_continuous_update(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.gyro_little_endian.label }}
                                                        <br>
                                                        {{ form.gyro_little_endian(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.gyro_powerdown_mode.label }}
                                                        <br>
                                                        {{ form.gyro_powerdown_mode(class="form-control") }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.gyro_enabled_x.label }}
                                                        <br>
                                                        {{ form.gyro_enabled_x(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.gyro_enabled_y.label }}
                                                        <br>
                                                        {{ form.gyro_enabled_y(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form.gyro_enabled_z.label }}
                                                        <br>
                                                        {{ form.gyro_enabled_z(class="form-control") }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form.gyro_fullscale.label }}
                                                <br>
                                                {{ form.gyro_fullscale(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.gyro_selftest.label }}
                                                <br>
                                                {{ form.gyro_selftest(class="form-control") }}
                                            </div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
												Magnetometer
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                {{ form.mag_data_rate.label }}
                                                <br>
                                                {{ form.mag_data_rate(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.mag_fullscale.label }}
                                                <br>
                                                {{ form.mag_fullscale(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.mag_sensor_mode.label }}
                                                <br>
                                                {{ form.mag_sensor_mode(class="form-control") }}
                                            </div>
                                        </div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
												Pressure & Temperature
											</a>
										</h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse">
										<div class="panel-body">
											There are no settings for this sensor as of yet.
										</div>
									</div>
								</div>
                                <div class="row" style="padding-top: 10px">
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <input class="btn btn-danger btn-lg" style="width:100%" type="submit" value="Record">
                                    </div>
                                </div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block javascripts %}

{% endblock %}
